<ion-item [lines]="'none'">
    <ion-icon slot="start" name="close" (click)="this.removeItem.emit()"></ion-icon>
    <ion-thumbnail id="thumbnail" slot="start">
        <img [src]="this.sanitizer.bypassSecurityTrustUrl(this.food.fotos[0])">
    </ion-thumbnail>
    <ion-label>
        <h3>
            {{this.food.nombre}}
        </h3>
        <p>
            Precio: {{this.food.precio}}
        </p>
    </ion-label>
    {{ this.totalPrice | currency }}
</ion-item>
<ion-range [ngStyle]="{'padding-bottom': '0', 'padding-top': '0'}" min="1" max="5" pin="true" snaps="true" step="1" ticks="true" value="0" color="secondary" (ionChange)="this.ammountChange($event.detail.value)">
    <ion-icon color="primary" size="small" slot="start" name="fast-food"></ion-icon>
    <ion-icon color="primary" size="large" slot="end" name="fast-food"></ion-icon>
</ion-range>