ion-icon {
    height: 50%;
    width: 100%;
    color: var(--ion-color-primary);
    margin-top: 23%;
}

ion-avatar {
    width: 125px;
    height: 125px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #E0E0E0;
    border: 5px solid black;
}

img {
    width: 120%;
}