<ng-container *ngIf="this.user !== null && this.user.data !== undefined; else skeleton">
    <ion-item-divider>
        <ion-item id="profile-item">
            <ion-avatar id="avatar" slot="start">
                <img [src]="this.profilePicture" alt="" />
            </ion-avatar>
            <ion-label>
                <h2>{{ this.user.data.name }} {{ this.user.data.lastName ? this.user.data.lastName : '' }}</h2>
                <h4>{{ this.user.data.role | titlecase }}</h4>
            </ion-label>
        </ion-item>
    </ion-item-divider>
</ng-container>
<ng-template #skeleton>
    <core-list-item-skeleton [singleItem]="true"></core-list-item-skeleton>
</ng-template>