<div *ngIf="this.waitingClients !== null; else skeleton" id="container" [ngStyle]="{'color': 'black'}">
    <h2 [ngStyle]="{'margin-left': '10px', 'font-weigth': '700', 'color': 'black'}">Asignar mesa a cliente</h2>
    <ng-container *ngIf="this.waitingClients.length > 0; else noResults">
        <ion-item *ngFor="let client of this.waitingClients" [lines]="'inlined'">
            <ion-thumbnail id="thumbnail" slot="start">
                <img [src]="client.photoUrl">
            </ion-thumbnail>
            <ion-label>
                <h3>
                    {{client.data.name}} {{client.data.lastName}}
                </h3>
                <p>
                    DNI: {{client.data.DNI}}
                </p>
            </ion-label>
            <ion-button (click)="this.availableTables !== null && this.availableTables.length > 0 ? this.createModal(client) : this.noTables()" expand="block" fill="outline" color="secondary">
                Asignar mesa
            </ion-button>
        </ion-item>
    </ng-container>
    <ng-template #noResults>
        <img [ngStyle]="{'margin-top': '10%'}" src="assets/undraw_No_data_re_kwbl.png" alt="">
        <h3 class="ion-text-center" [ngStyle]="{'color': 'black'}">No hay usuarios pendientes de ser asignados</h3>
        <ion-button [ngStyle]="{'width': '75%', 'margin': '0 auto'}" (click)="this.nav.navigateBack('home')" color="secondary" [expand]='"block"'>
            Volver al inicio
        </ion-button>
    </ng-template>
</div>

<ng-template #skeleton>
    <app-list-item-skeleton *ngFor="let element of this.dummyArray"></app-list-item-skeleton>
</ng-template>