#item {
    --ripple-color: var(--ion-color-primary);
}

.activated {
    --background: rgba(3, 153, 226, 0.9);
    color: white;
}

#item::part(native) {
    border-top-right-radius: 8%;
    border-bottom-right-radius: 8%;
}