<form [formGroup]="form">
  <div id="container">
    <core-avatar-uploader [ngStyle]="{ 'grid-area': 'avatar' }"></core-avatar-uploader>
    <ion-item mode="md" class="form-field">
      <ion-label color="primary" class="input-label" position="floating"
        >Nombre
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        class="input"
        formControlName="name"
        required
        [type]="'text'"
        inputmode="text"
        [maxlength]="25"
      ></ion-input>
    </ion-item>
    <ion-item mode="md" class="form-field">
      <ion-label color="primary" class="input-label" position="floating"
        >Apellido
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        class="input"
        formControlName="lastName"
        required
        [type]="'text'"
        inputmode="text"
        [maxlength]="25"
      ></ion-input>
    </ion-item>
    <core-dniform-input
      [dni]="this.form.get('dni').value"
      (dniRegistered)="this.form.get('dni').setValue($event)"
      [ngStyle]="{ width: '100%' }"
    ></core-dniform-input>
    <ion-item mode="md" class="form-field">
      <ion-label color="primary" class="input-label" position="floating"
        >Correo electrónico
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input class="input" formControlName="email" required [type]="'email'" inputmode="email"></ion-input>
    </ion-item>
    <p
      id="errorMessage"
      [ngStyle]="{ 'justify-self': 'start' }"
      *ngIf="!this.form.get('email').valid && this.form.get('email').value.length > 0"
    >
      El correo electrónico ingresado no es válido.
    </p>
    <core-password-input
      [password]="this.form.get('password').value"
      [login]="false"
      (passwordChange)="this.form.get('password').setValue($event)"
      [ngStyle]="{ width: '100%' }"
    ></core-password-input>
  </div>
  <ion-button
    [disabled]="!this.enabled"
    (click)="this.signUp()"
    [ngStyle]="{ 'margin-top': '10%' }"
    expand="block"
    fill="solid"
    color="secondary"
  >
    Registrarse
  </ion-button>
</form>
<ion-row class="ion-text-center ion-padding-top">
  <ion-col size="12">
    <ion-text color="primary">
      <p [ngStyle]="{ 'font-size': '15px', margin: 0 }" (click)="this.toLogin.emit()">
        ¿Ya tenés usuario? Inicia sesión
      </p>
    </ion-text>
  </ion-col>
</ion-row>
