<div id="container" [ngStyle]="{'color': 'black'}">
    <h2 [ngStyle]="{'margin-left': '10px', 'font-weigth': '700', 'color': 'black'}">Menú de cliente</h2>
    <ng-container *ngIf="this.foods; else skeleton">
        <app-list-item-photo *ngFor="let food of this.foods" [title]='food.nombre' [content]="'Precio: $' + food.precio" [photoUrl]='food.fotos[0]' (click)='this.openModal(food)'></app-list-item-photo>
    </ng-container>

</div>

<ng-template #skeleton>
    <app-list-item-skeleton *ngFor="let item of this.dummyArray"></app-list-item-skeleton>
</ng-template>