<ion-item mode="md" class='form-field' [ngClass]="{'form-field-invalid': (this.password.length > 0 && this.password.length < 6)}">
    <ion-label color="primary" class="input-label" position="floating">Contraseña
        <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input class="input" required [type]="this.passwordInputType" [value]='this.password' [debounce]='5' (ionChange)='this.onPasswordChange($event.detail.value)' [minlength]='6'></ion-input>
    <ion-icon id="icon" slot="end" [name]="(this.passwordInputType === 'password')?'eye-off':'eye'" (click)="this.togglePasswordInput()"></ion-icon>
</ion-item>
<p id='errorMessage' *ngIf="this.password.length > 0 && this.password.length < 6">La contraseña debe tener mas de 6 caracteres</p>