<ng-container *ngIf="this.orderedFood.size > 0; else elseTemplate">
  <div id="container" class="ion-text-center">
    <gestion-order-food-item
      *ngFor="let food of this.bindedOrderedFood"
      [food]="food"
      (removeItem)="this.removeItemFromOrder(food)"
      (ammountOrdered)="this.changeAmmount(food, $event)"
    ></gestion-order-food-item>
    <ion-button [ngStyle]="{ margin: '0 auto' }" (click)="this.scanFood()" color="secondary">
      <ion-icon slot="end" name="add"></ion-icon>
      Agregar comida
    </ion-button>
  </div>
  <ion-footer [ngStyle]="{ position: 'fixed', bottom: '0', 'padding-top': '5px' }">
    <ion-toolbar>
      <ion-title>Total: {{ this.orderTotal | currency }}</ion-title>
      <ion-button
        (click)="this.orderFood()"
        class="ion-text-center"
        [ngStyle]="{ width: '75%', margin: '10px auto' }"
        expand="block"
        color="secondary"
      >
        <ion-icon slot="end" name="checkmark"></ion-icon>
        Hacer pedido
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>
<ng-template #elseTemplate>
  <div class="ion-text-center" [ngStyle]="{ 'margin-top': '25px', color: 'black' }" (click)="this.scanFood()">
    <img src="assets/scan_qr.png" alt="" />
    <p>Hacé click en la foto para agregar comida a tu pedido.</p>
  </div>
</ng-template>
